---js
{
  navigationOptions: {
    listElement: "ul",            // Change the top level tag
    listItemElement: "li",        // Change the item tag

    listClass: "navTop",                // Add a class to the top level
    listItemClass: "navItem",            // Add a class to every item
    listItemHasChildrenClass: "navTop", // Add a class if the item has children
    activeListItemClass: "",      // Add a class to the current page's item

    anchorClass: "",              // Add a class to the anchor
    activeAnchorClass: "",        // Add a class to the current page's anchor

    // If matched, `activeListItemClass` and `activeAnchorClass` will be added
    activeKey: "",
    // It's likely you want to pass in `eleventyNavigation.key` here, e.g.:
    // activeKey: eleventyNavigation.key

    // Show excerpts (if they exist in data, read more above)
    showExcerpt: false
  }
}
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "fonts.njk" %}
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/nav.css">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>