---js
const eleventyNavigation = {
key: "home",
order: 1
};
const numberOfLatestPostsToShow = 3;
---
{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest Posts...</h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %} #}
{% set postlist = collections.posts | head(-1) %}
<h2>I regret to inform you this is AnatoleSerial.com</h2>
<h2><i>Latest post:</i> {{postlist[0].data.title}}</h2>
<hr />
{{postlist[0].content | safe}}