.navTop {
  list-style: disc outside none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navItem a:hover {
    background-color: black;
    color: white;
}

.navItemHead {
    float: left;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}